body{padding: 0 10%; font-family: "Courier Prime";background-image: url(./image/topography/topography/topography.png);}
nav{background-color: #333333;padding:1% 5px 1% 10px;}
main{margin:8% 10%;}
h1{font-size: 50px;}
h2{text-align: center;}
h3.magenta{color: #ff0099;}
p2{font-size: 80%;}
a{color: #ff0099;}
ul{list-style-type: none; direction: rtl;}
li{display: inline; margin: 0 15px}
h4{text-align: center;}
.logo-container{margin:0px 10%; width:50px; height:50px;background-image: url(./image/Logo/aperture.svg);background-size: contain;float: left; }