.container {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 400px;
  width: 1200;
  background: #ffd62a;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}
.item {
  height: 150px;
  margin: 0px;
  width: 150px;
  background: #b02afe;
}
