.container {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}
.item {
  height: 300px;
  margin: 0px;
  flex-grow: 1;
}
.item.green {
  background: #51d400;
}
.item.yellow {
  background: #ffd62a;
  flex-grow: 2;
}
.item.purple {
  background: #b02afe;
}
